.profile__add-button[type="button"] {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../../../images/add_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  display: block;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: end;
  background-color: black;
}
 .profile__add-button[type="button"]:hover {
   opacity: .7;
 }

@media screen and (max-width: 768px) {
  .profile__add-button[type="button"] {
    justify-self: center;
    width: 282px;
 }
}