.popup__container-form-name {
  width: 358px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 41px 0 39px 0;
 padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .popup__container-form-name {
    width: 238px;
    margin: 62px 0 37px 0;
 }
}