.popup-photo {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s linear;
  background-color:  rgba(0, 0, 0, 0.9);
}

.popup-add::before {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: .5;
  z-index: -1;
  content: " ";
  top: 0;
  left: 0;
} 

